<form [formGroup]="taskForm" (ngSubmit)="submit()">
  <div class="mb-3">
    <label class="form-label">Nombre del Rover</label>
 <!--<select class="form-control" formControlName="roverName" [ngClass]="{'is-invalid': submitted && taskForm.get('roverName')?.invalid}">
    <option value="">-- Seleccione un rover --</option>
    <option *ngFor="let rover of rovers" [value]="rover">{{ rover }}</option>
  </select>-->
  <input type="text"
       class="form-control"
       placeholder="Ingrese el nombre del rover"
       formControlName="roverName"
       [ngClass]="{'is-invalid': submitted && taskForm.get('roverName')?.invalid}">
 
  </div>

  <div class="mb-3">
    <label class="form-label">Fecha y Hora de Inicio</label>
    <input type="datetime-local" class="form-control" formControlName="startsAt" [ngClass]="{'is-invalid': submitted && taskForm.get('startsAt')?.invalid}" />
  </div>

  <div class="mb-3">
    <label class="form-label">Duración (minutos)</label>
    <input type="number" min="1" max="180" class="form-control" formControlName="durationMinutes" [ngClass]="{'is-invalid': submitted && taskForm.get('durationMinutes')?.invalid}" />
  </div>

  <div class="mb-3">
    <label class="form-label">Tipo de Tarea</label>
    <select class="form-control" formControlName="taskType" [ngClass]="{'is-invalid': submitted && taskForm.get('taskType')?.invalid}">
      <option [value]="0">Drill</option>
      <option [value]="1">Sample</option>
      <option [value]="2">Photo</option>
      <option [value]="3">Charge</option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Estado</label>
    <select class="form-control" formControlName="status" [ngClass]="{'is-invalid': submitted && taskForm.get('status')?.invalid}">
      <option [value]="0">Planned</option>
      <option [value]="1">In Progress</option>
      <option [value]="2">Completed</option>
      <option [value]="3">Aborted</option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Latitud</label>
    <input type="number" step="0.01" min="-90" max="90" class="form-control" formControlName="latitude" [ngClass]="{'is-invalid': submitted && taskForm.get('latitude')?.invalid}" />
  </div>

  <div class="mb-3">
    <label class="form-label">Longitud</label>
    <input type="number" step="0.01" min="-180" max="180" class="form-control" formControlName="longitude" [ngClass]="{'is-invalid': submitted && taskForm.get('longitude')?.invalid}" />
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
